<form>
  <h2 mat-dialog-title>新建任务</h2>
  <div mat-dialog-content>
    <mat-input-container color='warn' hintLable='必填项' class="full-width">
      <input matInput type="text" placeholder="任务内容">
      <mat-hint>xxx</mat-hint>
      <mat-error>aaaa</mat-error>
    </mat-input-container>
    <mat-radio-group>
      <mat-radio-button *ngFor="let priority of priorities" [value]="priority.value">
        {{priority.lable}}
      </mat-radio-button>
    </mat-radio-group>
    <mat-input-container color='warn' hintLable='必填项' class="full-width">
      <input matInput [matDatepicker]="dueDatepicker" type="text" placeholder="任务截止日期">
      <mat-datepicker-toggle matSuffix [for]="dueDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #dueDatepicker></mat-datepicker>
    </mat-input-container>
    <mat-input-container color='warn' hintLable='必填项' class="full-width">
      <input matInput [matDatepicker]="reinderDatepicker" type="text" placeholder="提醒日期">
      <mat-datepicker-toggle matSuffix [for]="reminderDatepicker"></mat-datepicker-toggle>
      <mat-datepicker #reminderDatepicker></mat-datepicker>
    </mat-input-container>
  </div>
  <div mat-dialog-actions>
    <button type="button" mat-raised-button color='primary' (click)="onClick()">保存</button>
    <button type="button" mat-raised-button mat-button>关闭</button>
  </div>
</form>