<form>
  <mat-card>
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>登录</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <mat-input-container color='warn' hintLable='必填项' class="full-width">
        <input matInput type="text" placeholder="您的email">
        <mat-hint>xxx</mat-hint>
        <mat-error>aaaa</mat-error>
      </mat-input-container>
      <mat-input-container color='warn' hintLable='必填项' class="full-width">
        <input matInput type="password" placeholder="您的密码">
        <mat-hint>xxx</mat-hint>
        <mat-error>aaaa</mat-error>
      </mat-input-container>
      <button mat-raised-button color="primary" type="button">登录</button>
    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有帐号？
        <a href="">注册</a>
      </p>
      <p>忘记密码？
        <a href="">找回密码</a>
      </p>
      <!-- <button mat-button>LIKE</button> -->
      <!-- <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>


  <mat-card>
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>每日佳句</mat-card-title>
        <mat-card-subtitle>满足感存在于份额发iogwefjwfwsfweffjwef士大夫巍峨</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/img/timg.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button>LIKE</button> -->
        <!-- <button mat-button>SHARE</button> -->
      </mat-card-actions>
    </mat-card>
</form>
